/index.html text eol=lf
/404.html text eol=lf
/politica-privacidade.html text eol=lf
/robots.txt text eol=lf
/sitemap.xml text eol=lf
/inicio/index.html text eol=lf
/servicos/index.html text eol=lf
/gestao-bpx/index.html text eol=lf
/metodo/index.html text eol=lf
/especialistas/index.html text eol=lf
/contato/index.html text eol=lf
